.fbBrandIcon {
    font-size: 30px;
    padding-left: 15px;
    padding-top: 8px;
    margin-right: -22px;
}

h6 {
	text-transform: uppercase;
	color: #777;
	margin-top: 0px;
    margin-bottom: 7px;
}

.list-group-item {
	padding: 7px;
	font-size: 12px;
}

.badge {
	font-size: 10px;
}